@import "/src/styles";

.wrapper {
   max-width: $pageWrapperWidth;
   width: 100%;
   margin: 0 auto;
   background-color: #ffffff;
   padding: 0 $desktopSafePadding;

   @include breakpointMax(bp(small)) {
      padding: 0 $mobileSafePadding;
   }
}
