$pageWrapperWidth: 1416px;
$defaultFontSize: 16px;

$desktopSafePadding: 48px;
$mobileSafePadding: 24px;

$fontSizes: (
   normal: 1rem,
   medium: 1.125rem,
);

$breakpoints: (
   small: 480px,
);

$themeColors: (
   // Cards
   cardBackgroundColorPrimary: #f5f5f5,

   // Inputs
   inputBorderColorPrimary: #4d4d4d,
   inputFontColorPrimary: #4d4d4d,

   // Common colors
   green: #378b60,
   yellow: #fb9600,
   pink: #ff00b8
);

:export {
   // Colors
   inputFontColorPrimary: map-get($themeColors, inputFontColorPrimary);
   greenColor: map-get($themeColors, green);
   pinkColor: map-get($themeColors, pink);
   yellowColor: map-get($themeColors, yellow);
   cardBackgroundColorPrimary: map-get($themeColors, cardBackgroundColorPrimary);
}
