@import "src/styles";

.block_search {
   margin-top: 48px;

   @include breakpointMax(bp(small)) {
      margin-top: 24px;
   }
}

.block_news_list {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 24px;
   margin-top: 48px;

   @include breakpointMax(bp(large)) {
      grid-template-columns: repeat(4, 1fr);
   }

   @include breakpointMax(bp(medium)) {
      grid-template-columns: repeat(3, 1fr);
   }

   @include breakpointMax(bp(small)) {
      grid-template-columns: repeat(2, 1fr);
   }

   @include breakpointMax(bp(extraSmall)) {
      gap: 12px;
      margin-top: 16px;
   }
}

.block_load_buttons {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 29px;
   margin-top: 24px;
   padding-bottom: 74px;

   @include breakpointMax(bp(small)) {
      gap: 12px;
   }

   @include breakpointMax(bp(extraSmall)) {
      margin-top: 18px;
      padding-bottom: 24px;
      display: grid;
      grid-template: "a b" "c c";
   }
}
